* {
    font: 100;
    font-family: 'Courier New', Courier, monospace;
}



li {
    display: inline;
    color: white;
    padding: 10px;

}

a {
    color: ;
}

ul {
    text-align: right;
    background-color: #FFD700;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#cs {
    text-align: center;
}

#container {
    width: 600px;
    height: 30%;
    margin: 20px auto;
    border: 15px solid black;
    /* padding: 9%; */
  }


#contact_form {
    background-color: antiquewhite;
    height: 200px;
}



header {
    background-color: #009E60;
    color: white;
    width: 100%;
    height: 100px;

}

footer {
    background-color: #FFD700;
    color: white;
    width: 100%;
    height: 100px;
}

p {
    background-color: #009E60;
}

main {
    height: 500px;
}
/* section {
    width: 600px;
    height: 600px;
    text-align: center;
    border: 15px solid black;
  }

  img {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    /* TODO: Add a margin property, the space between the elements */
    margin: 25px;
    /* TODO: Add a padding property */
    padding: 8px;
    /* TODO: Add a border property */
    border: solid red;

  }
   */
